.user-container{
    width: 100%;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--gray1);

}
.user-form{
    min-width: 500px;
    min-width: 600px;
    justify-content: center;
}
.user-label,.user-section-label {

    width: 100%;
    margin: 0.5rem;
    text-align: left;
}

.user-section{
    border: solid 2px var(--gray1);
    padding: 1rem;
}
.buttons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.submit-button{
    width: 20%;
    height: 60%;
    margin: 1rem;
    justify-self: center ;
    grid-column: 1 / 3;
}
.form-select:hover{
   cursor: pointer;
}
.option{
    font-size: 1.25px;
}

/* .form-select:hover{
    cursor: pointer;
} */