/* ---- colors ----- */

$primary : #324C5E;
$secondary1 : #B9CFDF;
$secondary2 : #919171;
$secondary3 : #739fbe;
$background1 : #F7F7F7;
$background2 : #EBEDEF;
$negative : #B80B0B;
$positive : #46FA31;
$confirm : #0D6EFD;
$cancel : #DDE0E2;
$black : #0E0F10;

/* ----- fonts ----- */
@mixin principalTitle {
    font-size: 2.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
};
@mixin subtitle1{
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
};
@mixin subtitle2{
    font-size: 1.8rem;
    font-family: 'Playfair Display', serif;
};
@mixin content-medium{
    font-size: 1.4rem;
    font-family:  'Inter', sans-serif;
}
@mixin content-small{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
};
@mixin content-xsmall{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}
@mixin menu-shadow{
    -webkit-box-shadow: -8px 10px 23px -6px rgba(64,61,64,0.53);
    -moz-box-shadow: -8px 10px 23px -6px rgba(64,61,64,0.53);
    box-shadow: -8px 10px 23px -6px rgba(64,61,64,0.53);
};
@mixin input-shadow{
    box-shadow: 7px 7px 27px -6px rgba(105,96,96,0.81);
    -webkit-box-shadow: 7px 7px 27px -6px rgba(105,96,96,0.81);
    -moz-box-shadow: 7px 7px 27px -6px rgba(105,96,96,0.81);
}
@mixin button-shadow{
    box-shadow: -3px 7px 27px -6px rgba(105,96,96,0.81);
-webkit-box-shadow: -3px 7px 27px -6px rgba(105,96,96,0.81);
-moz-box-shadow: -3px 7px 27px -6px rgba(105,96,96,0.81);
}
/* ----screen sizes--- */
$breakpoint-xsmall: 320px;
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

/* ----containers sizes ----- */
@mixin containers($width){
    width: $width;
    padding: 2rem;
};

$container-small: 100%;
$container-medium: 720px;
$container-large: 960px;
$container-xlarge: 1140px;


@mixin display-estructure($justify,$align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
};